/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/metal.jpg);
    background-size: cover;
    background-position: center;  
    color: #d1d1d1; 
}


#container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, minmax(110px, 200px));
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

#actions {
    height: 30px;
    margin: 20px 10px;
    
}

img {
    width: 100px;
    border-radius: 8px;    
    background-color: rgba(255, 255, 255, 0.877);
    box-shadow: 15px 15px 15px rgba(0,0,0,0.8);
    transition: 1s ease;
    cursor: pointer;
}

img:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

button:hover {
    opacity: .6;
    color: black;
}

button:focus {
    outline: 0;
    /* background: rgba(138, 43, 226, .4); */
    color: white;
    font-weight: bold;
    background: black;
}